<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.41" targetFramework="net48" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.44.1" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="PLib" version="4.19.0" targetFramework="net48" />
</packages>